version: '3.8'

services:
  php8.2:
    image: ghcr.io/staudenmeir/php:8.2
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html:delegated
      - .docker/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
  php8.3:
    image: ghcr.io/staudenmeir/php:8.3
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html:delegated
      - .docker/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
